
/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333; /* General text color */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Futura', sans-serif;
  margin-top: 0;
}

/* Header Styles */
.logo {
  font-size: 36px;
  font-weight: bold;
  color: #000; /* Logo color */
}

.menu-item {
  font-size: 18px;
  font-weight: 500; /* Semi-bold for menu items */
  color: #555; /* Menu item color */
}

/* Home Page Styles */
.intro-name {
  font-size: 48px;
  font-weight: bold;
  color: #222; /* Intro name color */
}

.intro-description {
  font-size: 24px;
  font-weight: 300; /* Lighter weight for description */
  color: #777; /* Description color */
}

.work-section-title {
  font-size: 32px;
  font-weight: bold;
  color: #444; /* Work section title color */
}

.project-domain {
  font-size: 20px;
  font-weight: 500; /* Semi-bold for project domain titles */
  color: #666; /* Project domain color */
}

.about-section {
  font-size: 18px;
  color: #555; /* About section text color */
}

/* Project Page Styles */
.project-title {
  font-size: 40px;
  font-weight: bold;
  color: #222; /* Project title color */
}

.project-info {
  font-size: 18px;
  font-weight: 300; /* Lighter weight for project info */
  color: #777; /* Project info color */
}

.project-description {
  font-size: 20px;
  color: #555; /* Project description color */
}

.project-media-title {
  font-size: 24px;
  font-weight: 500; /* Semi-bold for media titles */
  color: #666; /* Media title color */
}

.project-text {
  font-size: 18px;
  color: #555; /* General project text color */
}










/* Sticky positioning for the button */
.filter-button {
  width: 24px;
  height: 24px;
  position: sticky;
  left: 50%; /* Center horizontally */
}

.filter-button-wrapper {
  position: relative; /* Establishes a new positioning context */
}

/* Positioning the categories menu */
.filter-categories {
  position: absolute;
  top: calc(100% + 40px); /* Position below the button */
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #595959;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  height: 24px;
}



/* Sticky positioning */
.sticky {
  position: sticky;
  top: 24px;
}

.sticky-menu {
  position: sticky;
  top: 48px;
}

/* Filter category */
.filter-category {
  padding: 0.5rem ;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
  transition: font-weight 0.3s ease, color 0.3s ease;
  min-width: max-content;
}

.filter-category:hover {
  color: #aeaeae;
}

.filter-category.active {
  color: #ffffff;
}
