@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  cursor: none;
}

body, a, a:hover {
  cursor: none !important;
}

/* Hide default scrollbar */
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Custom square scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #000;
  border: none;
  width: 8px;
  height: 8px;
}

/* Square scrollbar thumb */
.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 0;
}

/* Dark mode scrollbar */
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #fff;
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #000 transparent;
  padding-right: 4px; /* Add a little padding to prevent content from touching scrollbar */
}

/* For Firefox in dark mode */
.dark .custom-scrollbar {
  scrollbar-color: #fff transparent;
}